$header-font-size: 86px;
$footer-height: 20px;
$spacing: 70px;

.name {
  $hs: $spacing / 2;
  padding: $hs $spacing $hs 0;
  border-right: 1px solid black;

  h1 {
    font-size: $header-font-size;
    font-weight: 300;
    line-height: 1.1;
    margin: 0;
  }
}

.home-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: calc(100vh - #{$footer-height});
}

.logo {
  height: $header-font-size * 1.1 * 2.5;
  padding-left: $spacing;
}

footer {
  display: flex;
  height: $footer-height;

  a {
    display: block;
    flex-grow: 1;
    height: 100%;
    transition: flex-grow linear 0.1s;
  }

  a:hover {
    flex-grow: 1.05;
  }

  a:nth-child(1) { background-color: #17BEBB; }
  a:nth-child(2) { background-color: #D62246; }
  a:nth-child(3) { background-color: #00A6FB; }
  a:nth-child(4) { background-color: #390099; }
  a:nth-child(5) { background-color: #FE4A49; }
}
