$footer-height: 20px;

.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - #{$footer-height});
}

.logo {
  height: 240px; 
}

.name {
  h3 {
    font-size: 32px;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    text-align: center;
  }
}

footer {
  display: flex;
  height: $footer-height;

  a {
    display: block;
    flex-grow: 1;
    height: 100%;
    transition: flex-grow linear 0.1s;
  }

  a:hover {
    flex-grow: 1.05;
  }

  a:nth-child(1) { background-color: #17BEBB; }
  a:nth-child(2) { background-color: #D62246; }
  a:nth-child(3) { background-color: #00A6FB; }
  a:nth-child(4) { background-color: #390099; }
  a:nth-child(5) { background-color: #FE4A49; }
}
