<main class="home-container">
  <section class="name">
    <h1>JJ</h1>
    <h1>Xu</h1>
  </section>
  <img class="logo" src="assets/logo.svg"/>
</main>
<footer>
  <a href="https://jonathanjx.me/" target="_blank" rel="noopener noreferrer"></a>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"></a>
  <a href="https://bigdick.dev/" target="_blank" rel="noopener noreferrer"></a>
  <a href="https://google.com" target="_blank" rel="noopener noreferrer"></a>
  <a></a>
</footer>
